html, body {
  height: 100% !important;
  font-family: "Montserrat", sans-serif !important;
}

#body {
  height: 100% !important;
}

.background {
  background-image: url(/background1.jpg);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: top;
  background-repeat: no-repeat;
  background-size: cover;
}
