.selected {
  color: skyblue;
}

.navigationBar {
  z-index: 1;
  color: white;
}

.loginStatus {
  color: #f0b8f1;
}
.navlink {
  color: white !important;
}
.navlink:hover {
  text-decoration: none;
  border-radius: 3px;
  background-color: #999999;
}
.active {
  border-radius: 3px;
  background-color: #f0b8f1 !important;
  color: #343a40 !important;
  font-weight: bold;
}
