.selected {
  color: skyblue;
}

.navigationBar {
  z-index: 1;
  color: white;
}

.loginStatus {
  color: #FA6C2B ;
}
.navlink {
  color:#5FE8B6  !important;
}
.navlink:hover {
  text-decoration: none;
  border-radius: 3px;
  background-color: #999999;
}
.active {
  border-radius: 3px;
  background-color: #5FCFE8 !important;
  color: #343a40 !important;
  font-weight: bold;
}
.navigationBar{
  background-color:#343738 ;
}
.NavTitle{
  color:#5FE8B6 !important;
  font-size: 1.4em;
  padding-right: 8px;
}
.NavTitle:hover {
  text-decoration: none;
}
.navbrand-logo {
  max-height: 40px;
  height: auto;
  width: auto;
}
.navbar-toggler-icon {
  color: #5FE8B6 !important;
}