.login {
  width: 570px;
  height: 650px;
  background-color: #5fe8b6;
  margin: auto;
  justify-content: center;
  display: flex;
  padding: 65px;
  border-radius: 10px;
  opacity: 0.93;
}

.input {
  font-size: large;
  font-family: Montserrat;
  font-weight: 600;
  /* font-variant: small-caps; */
  opacity: 0.7;
  border-radius: 3px;
  background-color: #113618;
  position: relative;
  top: -50px;
  height: 70px;
}

.checkinput {
  font-size: medium;
  font-family: Montserrat;
  font-weight: 600;
  opacity: 0.7;
  position: relative;
  top: -40px;
}

.texto {
  font-size: xx-large;
  font-weight: 700;
  color: #343738;
  text-align: center;
  margin-bottom: 80px;
  font-family: Montserrat;
}

.button {
  background-color: transparent;
  border-color: transparent;
  opacity: 0.4;
  font-weight: 600;
  font-family: Montserrat;
  font-variant: small-caps;
  font-size: large;
  width: 125px;
  position: relative;
  bottom: -40px;
}

.mbutton:hover {
  opacity: 0.9;
  color: #113618;
}

.btn:hover {
  background-color: #113618;
  border-color: #113618;
  font-family: Montserrat;
}

@media all and (max-width: 570px) {
  .login {
    width: 100%;
  }
}
