.btn {
  border-color: black;
  margin-top: 20px;
  justify-content: center;
  width: 50%;
  font-family: Montserrat;
  color: black;
  
}
.mbtn:hover {
  color: white;
  opacity: 0.9;
  background-color: black;
}

.text {
  font-family: Montserrat;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-variant: small-caps;
}
.title {
  font-weight: 700;
  color: #343738;
  text-align: center;
  margin-bottom: 30px;
}

.caixa {
  width: 570px;
  height: 650px;
  background-color:#5FCFE8;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px 65px;
  border-radius: 10px;
  opacity: 0.95;
}
.inputProd{
  background-color: white;
  opacity:0.7;
  color: black;
  font-family: Montserrat;
}
