.btn {
  border-color: black;
  margin-top: 20px;
  justify-content: center;
  width: 50%;
  font-family: Montserrat;
  color: #113618;
  
}
.mbtn:hover {
  color: white;
  opacity: 0.8;
  background-color: black;
}

.text {
  font-family: Roboto, sans-serif;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-variant: small-caps;
}
.title {
  font-weight: 700;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.caixa {
  max-width: 750px;
  background-color:#5FCFE8;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px 65px;
  border-radius: 6px;
}
.inputProd{
  background-color: rgb(43, 113, 129);
  opacity:0.7;
  color: white;
}