
.btn{ 
    border-color: black;
    margin-top:10px;
    justify-content: center;
    width: 50%;
    position: relative;
    bottom:-20px;
}
.mbtn:hover{
    color: white;
    opacity: 0.8;
    background-color: black;
}

.text{
      font-family: Roboto, sans-serif;
      align-items: center;
      justify-content: center;
      text-align: justify;
}
.title{
    font-size: xx-large;
    font-weight: 700;
    color: black;
    text-align: center;
    position: relative;
    top: -30px
 }
 
.caixa {
    width: 750px;
    height: 550px;
    background-color: rgb(228, 228, 228);
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    padding: 65px;
    border-radius: 6px;
  }
