
.box{
    justify-content: center;
    border-radius: 6px; 
    margin-bottom: 6px;
    width: 180px;
}

.btn{ 
    border-color: black;
    margin-top: 250px;
    justify-content: center;
}
.mbtn:hover{
    color: black;
    opacity: 0.7;
}

.right {
    position: absolute;
    right: 750px;
    width: 300px;
    padding:60px;
    margin-top: 40px;
    
  }

.left {
    position: absolute;
    left: 750px;
    width: 300px;
    padding:60px;
    margin-top: 40px;
    text-align: justify;
    color: black;
    
  }

  .text{
      margin-bottom: 13px;
      font-family: Roboto, sans-serif;
  }
 
 
