.App {
  text-align: center;
  height: 100%;
}

.routesContainer {
  background-color: #AAA;
  position: absolute;
  bottom: 0;
  top: 56px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: top;
  padding: 20px;
}
