.product-container {
  background-color: white;
  width: 90%;
  border-radius: 5px;
  font-weight: normal;
}

.product-btn {
  color: #FA6C2B;
}

.product-btn:hover {
  cursor: pointer;
}

input {
  max-width: 100%;
}
.btn-success, .btn-danger {
  color: white !important;
  font-weight: bold;
}